.message-wrapper {
    background-color: #242f50;
    max-width: 100%;
    overflow: visible;
    color: #e8ecff;
    width: fit-content;
    margin-top: 10px;
    padding: 25px;
    border-radius: 30px;
    margin-left: auto;
}